<section class="startup">
    <div class="s__fix">
        <div class="s__intro">
            <h1>Weather Profile.<br /><span>Weather forecast web application.</span></h1>
            <p>Detailed forecasts available by city name, city ID, geographic coordinates <br />or postal/ZIP code.</p>
        </div>
        <div class="s__search">
            <div class="s__search_title">
                <h2>Access current weather data for any location on Earth.</h2>
            </div>
            <div class="s__search_container">
                <!--<input autocomplete="off" class="search_field" name="search" placeholder="State, City, Locality, Zip Code" />-->
                <search></search>
            </div>
        </div>
    </div>
    <div class="s__variable">
        <div class="s__info">
            <div>
               
                <div><span></span><span></span></div>
            </div>
        </div>
        <div class="s__chart"><chartline></chartline></div> 
    </div>
</section>
