<header>
  <div class="header__tier">
    <div class="header__lock-up">
      <div class="header__logo header__item">
        <a class="header__link" routerLink="/" routerLinkActive="active">
          <span> Weather Profile </span>
        </a>
      </div>
    </div>
    <nav class="header__link-bar">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="https://openweathermap.org/api" target="_blank">
            <span>API Resource</span>
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="https://www.chartjs.org/docs/latest/" target="_blank">
            <span>Charts</span>
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" routerLink="/" routerLinkActive="active">
            <span>About</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__list header_end">
      <div class="header__item"><a class="header__link" routerLink="/login" routerLinkActive="active">Login</a></div>
      <div class="header__item">
        <a class="header__link header__btn" routerLink="/signup" routerLinkActive="active">Sign Up</a>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>