$nav_active_color: #202124;
$nav_color : #5f6368;
$btn_color : #1a73e8;
$btn_active_color: #185abc;

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-top: 20px;
}

button {
    padding: 13px 24px;
    background: $btn_color;
    transition: 0.2s;            
    color: #fff;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background: $btn_active_color;
    }
}